* {
    margin: 0;
    padding: 0;
    /* font-family:'Courier New', Courier, monospace; */
    box-sizing: border-box;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: cente
}

.card {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 100%;
    max-width: 470px;
    background: linear-gradient(150deg, #404947, #794c4c);
    color: #fff;
    margin: 20px;
    border-radius: 10px;
    padding: 30px 25px;
    text-align: center;

}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #cbd3d2;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #cbd3d2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img {
    width: 16px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h2 {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 50px;
}

.humidity,
.wind {
    font-size: 20px;
    /* margin-top: -2px; */
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}